.row {
    padding: 5px 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.row:hover {
    background: #eefbf2;
}

.row__section {
    margin: 0 10px;
    display: inline-block;
}

.row__section-cost {
    margin: 0 10px;
    display: inline-block;
}

.row__section.short {
    min-width: 150px;
}

.context-menu {
    position: absolute;
    z-index: 10;
    background: white;
    border: 1px solid #bababa;
}

.hidden {
    visibility: hidden;
}

.menu-row {
    padding: 5px;
}

.menu-row:hover {
    background: #bababa;
}

.row__expand-zone {
    margin-left: 10px;
}

.row_action {
    display: inline-block;
    margin: 0 5px;
}

.row_action:hover {
    cursor: pointer;
}
